<div class="document-dates-plugin">
    {#- Render date of creation #}
    <span data-tippy-content data-tippy-raw="{{ page.meta.document_dates_created[:10] }}">
        <span class="material-icons" data-icon="doc_created"></span>
        <time datetime="{{ page.meta.document_dates_created }}"></time>
    </span>

    {#- Render date of last update #}
    <span data-tippy-content data-tippy-raw="{{ page.meta.document_dates_updated[:10] }}">
        <span class="material-icons" data-icon="doc_updated"></span>
        <time datetime="{{ page.meta.document_dates_updated }}"></time>
    </span>

    {#- Render authors #}
    {%- if page.meta.document_dates_authors %}
        {%- set icon = 'doc_author' if page.meta.document_dates_authors|length == 1 else 'doc_authors' %}
    <span class="material-icons" data-icon="{{ icon }}"></span>
    <div class="avatar-group">
        {%- for author in page.meta.document_dates_authors %}
            {%- set tooltip %}
                {%- if author.url -%}
                    <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
                {%- elif author.email -%}
                    <a href="mailto:{{ author.email }}">{{ author.name }}</a>
                {%- else -%}
                    {{ author.name }}
                {%- endif -%}
            {%- endset %}
        <div class="avatar-wrapper" data-name="{{ author.name }}" data-tippy-content data-tippy-raw='{{ tooltip }}'>
            <span class="avatar-text"></span>
            <img class="avatar" src="{{ author.avatar }}" onerror="this.style.display='none'" />
        </div>
        {%- endfor %}
    </div>
    {%- endif %}
</div>
